@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Patrick+Hand+SC&display=swap');
body{
    font-family: 'Patrick Hand SC';
    font-size: 12pt;
    background-color: #EDF6E5;
    background-image: url('./source/bg-min1.png');
    color: darkorange;
}
h1{
    font-family: 'Permanent Marker';
    color: #742ad6;
    margin: 0;
    padding: 0;
    font-size: 18pt;
    font-weight: bold;
}
h3{
    font-size: 14pt;    
}

#container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header, #footer{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
}

#main{
    margin: auto;
    position: relative;
    width: 290px;
    height: 290px;
    display: inline-table;
}
.paper {
    background: #fff;
    position: relative;
}

.paper,
.paper::before,
.paper::after {
    box-shadow: 1px 1px 1px rgba(141, 2, 71, 0.514);
    border: 1px solid #ee4e6e;
}

.paper::before,
.paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #facbd4;
}

.paper::before {
    right: 8px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1;
}

.paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(2deg);
    z-index: -2;
}

#chat{
    text-align: left;
    height: 20vh;
    overflow:scroll;
}

#result{
    color: orangered;
}

.table-row{
    display: table-row;
}

.cell{
    font-family: 'Permanent Marker';
    display: table-cell;
    background-color: #fae5e5;
    border-top: 1px solid #F38BA0;
    border-left: 1px solid #F38BA0;
    overflow: visible;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: center;
    /* font-weight: bolder; */
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}
.check-x::after, .check-o::after {
    position: absolute;
    font-size: 8pt;
    font-weight: bold;
    top: 0;
    left: 25%;
}
.check-x::after {
    content: "X";
    color: #2196F3;
}
.check-o::after {
    content: "O";
    color: darkorange;
}
#form{
    display: flex;
    flex-direction: row;
}

#msg{
    width: 80%;
}
input, select, button{
    font-family: 'Patrick Hand SC';
    background-color: #fae5e5;
    height: 15px;
    padding: 3px 10px;
    border: 2px solid rgb(255, 85, 255);
    border-radius: 3px;
    font-size: 10pt;
}

button:focus, input:focus, select:focus{
    border: 2px solid rgb(179, 0, 179);
    outline: none;

}
button{
    height: 25px;
    background-color: #F08FC0;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(255, 85, 255);
    border-radius: 3px;
    margin-left: 5px;
}
.hidden{
    display: none;
}

@media screen and (min-width: 600px) {
    #main{
        margin: auto;
        width: 550px;
        height: 550px;
    }
    body, input, select, button{
        font-size: 14pt;
    }
    h1 {
        font-size: 24pt;
    }
    h3{
        font-size: 16pt;
    }
    input, select, button{
        height: 25px;
    }
    button{
        height: 35px;
    }    
    .check-x::after, .check-o::after {
        font-size: 14pt;
    }    
}

@media screen and (min-width: 1000px) {
    #container {
        flex-direction: row;
    }
    #chat{
        height: 550px;
    }
    #header, #footer{
        width: 250px;
    }
    #main{
        margin: 0 30px;
        width: 550px;
        height: 550px;

    }
    body, input, select, button{
        font-size: 14pt;
    }
    h1 {
        font-size: 24pt;
    }
    h3{
        font-size: 16pt;
    }
    input, select, button{
        height: 25px;
    }
    button{
        height: 35px;
    }    
    .check-x::after, .check-o::after {
        font-size: 16pt;
    }   
    .paper,
    .paper::before,
    .paper::after {
        box-shadow: 3px 3px 3px rgba(141, 2, 71, 0.514);
        border: 3px solid #ee4e6e;
    }
    .paper::before {
        right: 10px;
        top: 30px;
        transform: rotate(-2deg);
        z-index: -1;
    }
    
    .paper::after {
        top: 5px;
        right: -5px;
        transform: rotate(3deg);
        z-index: -2;
        background-color: #f6d7dd;
    }    
}

@media screen and (min-width: 1920px) {
    #container {
        flex-direction: row;
    }
    #chat{
        height: 900px;
    }
    #header, #footer{
        width: 300px;
    }
    #main{
        margin: 0 40px;
        width: 900px;
        height: 900px;

    }
    body, input, select, button{
        font-size: 16pt;
    }
    h1 {
        font-size: 28pt;
    }
    h3{
        font-size: 20pt;
    }
    input, select, button{
        height: 35px;
    }
    button{
        height: 45px;
    }    
    .check-x::after, .check-o::after {
        font-size: 20pt;
    }
    .paper,
    .paper::before,
    .paper::after {
        box-shadow: 5px 5px 5px rgba(141, 2, 71, 0.514);
        border: 5px solid #ee4e6e;
    }
    .paper::before {
        right: 10px;
        top: 30px;
        transform: rotate(-2deg);
        z-index: -1;
    }
    
    .paper::after {
        top: 5px;
        right: -5px;
        transform: rotate(3deg);
        z-index: -2;
        background-color: #f6d7dd;
    }    
}
