@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Patrick+Hand+SC&display=swap');
body{
    font-family: 'Patrick Hand SC';
    font-size: 16pt;
    background-color: #EDF6E5;
    background-image: url('./source/bg-min1.png');
    color: darkorange;
}
h1{
    font-family: 'Permanent Marker';
    color: #742ad6;
    margin: 0;
    padding: 0;
    font-size: 28pt;
    font-weight: bold;
}
h3{
    font-size: 18pt;    
}

#container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}
#header, #footer{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}
#main{
    margin: 0 30px;
    display: inline-table;
    border-top: 2px solid #F38BA0;
    border-right: 3px solid #F38BA0;
    border-bottom: 3px solid #F38BA0;
    border-left: 2px solid #F38BA0;
    overflow: auto;
}
.paper {
    background: #fff;
    position: relative;
}

.paper,
.paper::before,
.paper::after {
    box-shadow: 3px 3px 3px rgba(141, 2, 71, 0.514);
    border: 3px solid #ee4e6e;
}

.paper::before,
.paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #facbd4;
}

.paper::before {
    right: 15px;
    top: 0;
    transform: rotate(-2deg);
    z-index: -1;
}

.paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(3deg);
    z-index: -2;
}

#chat{
    text-align: left;
    height: 200px;
    overflow:scroll;
}

#result{
    color: orangered;
}

.table-row{
    display: table-row;
}

.cell{
    font-family: 'Permanent Marker';
    display: table-cell;
    background-color: #fae5e5;
    border-top: 1px solid #F38BA0;
    border-left: 1px solid #F38BA0;
    width: 30px;
    height: 30px;
    overflow: visible;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}
.check-x::after, .check-o::after {
    position: absolute;
    font-size: 16pt;
    top: 0;
    left: 25%;
}
.check-x::after {
    content: "X";
    color: #2196F3;
}
.check-o::after {
    content: "O";
    color: darkorange;
}
#form{
    display: flex;
    flex-direction: row;
}

#msg{
    width: 80%;
}
input, select, button{
    font-family: 'Patrick Hand SC';
    background-color: #fae5e5;
    height: 30px;
    padding: 3px 10px;
    border: 2px solid rgb(255, 85, 255);
    border-radius: 3px;
    margin-top: 5px;
    font-size: 16pt;
}

button:focus, input:focus, select:focus{
    border: 2px solid rgb(179, 0, 179);
    outline: none;

}
button{
    height: 35px;
    background-color: #F08FC0;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(255, 85, 255);
    border-radius: 3px;
    margin-left: 5px;
}

@media screen and (min-width: 740px) {
    #container {
        flex-direction: row;
    }
    #chat{
        height: 90%;
    }
    #header, #footer{
        width: 250px;
    }
    
}

.hidden{
    display: none;
}